/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

/*INICIO - Header*/
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDF0CE;              /*aqui se modifica el color de fondo de la navegacion el header*/
    padding: 10px 20px;
}

.logo {
    height: 50px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #000000;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #FDF0CE;              /*aqui se modifica el color de seleccion*/
}

.submenu {
    display: none;
    position: absolute;
    background-color: white;                        /*aqui se modifica el color de sub menus*/ 
    border-top: 3px solid #2E1572;                  /*color de line que separa el menu de sub menu*/
    z-index: 1000;
    margin-top: 0;
    min-width: 200px;
}

.submenu li {
    margin-bottom: 0;
}

nav ul li:hover > .submenu {
    display: block;
}

.header-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-contact a {
    text-decoration: none;
    background-color: #444444;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.contact-info p {
    margin: 0;
}

.img_logo {
    text-align: center;
}

.logo{
    width: 120px;
}
.img_logo h3 {
    float: right;
    margin-left: 5px;
}

.img_logo img {
    height: 80px;
}
/*FIN - Header*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    background-color: #f8f8f8;
}

.staff-medico {
    text-align: center;
    background-color: #fff;
    padding: auto;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.staff-medico h2 {
    margin-bottom: 20px;
    color: #007bff;
}

.staff-medico p {
    margin-bottom: 30px;
    font-size: 18px;
}

.boton-cita {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.boton-cita:hover {
    background-color: #0056b3;
}

.imagen-staff {
    margin-top: 30px;
}

.imagen-staff img {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*INICIO - Perfil Doctores*/
.cards{
    display: flex;
}


.card{
    margin: 10px;
    border: 5px solid grey;
    flex: 20%;
    display: flex;
    text-align: center;
    flex-direction: column;
    /*padding: 35px;
    width: 500px 50px;*/
}

.card.content{
    flex-grow: 1;
    flex-shrink: 1;
    text-align: justify;

}

.card .footer{
    background-color: aliceblue;
    padding: 10px;
}

/*FIN - Perfil Doctores*/

/*INICIO - pie de pagina*/
#piepag{
    background-color: #2E1572;
    color: white;
    display: flex;
    padding: 0px;
    justify-content: center;
    margin-top: 15px;
}

#pietitulo{
	font-family: "Source Sans 3", sans-serif;
	font-weight: bold;
	font-size: 28px;
	line-height: 1.28;
	text-align: center;
    margin-bottom: 1px;
}
#piep{
    width: 300px;
    height: 99px;
    color: #FFFFFF;
    font-family: "Helvetica", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.3;
    text-align: justify;
    margin-bottom: 10px;
}
#pielink{
    line-height: 1.5;
}
#pie2{
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
}
#pie2titulo{
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
#pie2 p{
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    text-align: left;
}
#pie2bajo{
    margin-top: 50px;
}
#pie3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#pie3 h4{
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
#inpform input{
    width: 180px;
    height: 20px;
    border-radius: 14px;
    border-style: solid;
    padding: 4px 8px 4px 8px;
    border-color: #232323;
    border-width: 1px;
    font-style: normal;
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
}
#inpform select{
    margin-bottom: 5px;
    text-align: left;
    margin-right: 50px;
}
/*FIN- pie de pagina*/
