body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*INICIO - Header*/
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDF0CE;              /*aqui se modifica el color de fondo de la navegacion el header*/
    padding: 10px 20px;
}

.logo {
    height: 50px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #000000;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #FDF0CE;              /*aqui se modifica el color de seleccion*/
}

.submenu {
    display: none;
    position: absolute;
    background-color: white;                        /*aqui se modifica el color de sub menus*/ 
    border-top: 3px solid #2E1572;                  /*color de line que separa el menu de sub menu*/
    z-index: 1000;
    margin-top: 0;
    min-width: 200px;
}

.submenu li {
    margin-bottom: 0;
}

nav ul li:hover > .submenu {
    display: block;
}

.header-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-contact a {
    text-decoration: none;
    background-color: #444444;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.contact-info p {
    margin: 0;
}

.img_logo {
    text-align: center;
}

.logo{
    width: 120px;
}
.img_logo h3 {
    float: right;
    margin-left: 5px;
}

.img_logo img {
    height: 80px;
}
/*FIN - Header*/

/*--Inicio Main -- */
.contact-info p {
    margin: 0;
}

h1 {
  height: 36px;
  color: #000000;
  font-family: "Source Sans 3";
  font-size: 26px;
  text-decoration: underline;
  text-align: center;
}   

.location-section {
    padding: 20px;
    background-color: #f2f2f2;
    display: flex;
}

.location-section h1 {
    text-align: center;
}

.schedule{
    font-size: 14px;
    margin-top: 20px;
    width: 400px;
}
.contact{
    text-align: left;
    line-height: 1.3;
    font-size: 14px;
    color: black;
    margin-right: 100px;
    padding: 5px;
    margin-left: 240px;
}

.map {
    width: auto;
  height: 420px;
  padding: 8px 8px 8px 8px;
  background: #B70F0A;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
}

.map h3, p{
    text-align: center;
}

.mapa-contenido {
    display: flex;
    gap: 60px;
}
#g-mpas{
    margin-left: 100px;
    text-align: justify;
    padding: 10px;
}



.commitment-section {
    text-decoration: solid;
    background-color: #f2f2f2;
    color: rgb(12, 12, 12);
    text-align: center;
    padding: 20px;
}

.appointment-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
/*--Fin Main -- */

/*INICIO - pie de pagina*/
#piepag{
    background-color: #2E1572;
    color: white;
    display: flex;
    padding: 0px;
    justify-content: center;
    margin-top: 15px;
}

#pietitulo{
	font-family: "Source Sans 3", sans-serif;
	font-weight: bold;
	font-size: 28px;
	line-height: 1.28;
	text-align: center;
    margin-bottom: 1px;
}
#piep{
    width: 300px;
    height: 99px;
    color: #FFFFFF;
    font-family: "Helvetica", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.3;
    text-align: justify;
    margin-bottom: 10px;
}
#pielink{
    line-height: 1.5;
}
#pie2{
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
}
#pie2titulo{
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
#pie2 p{
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    text-align: left;
}
#pie2bajo{
    margin-top: 50px;
}
#pie3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#pie3 h4{
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
#inpform input{
    width: 180px;
    height: 20px;
    border-radius: 14px;
    border-style: solid;
    padding: 4px 8px 4px 8px;
    border-color: #232323;
    border-width: 1px;
    font-style: normal;
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
}
#inpform select{
    margin-bottom: 5px;
    text-align: left;
    margin-right: 50px;
}
/*FIN- pie de pagina*/

